<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/images/save.png" style="height: 70px;width: auto;padding: 10px;" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="loginForm">
        <input type="text" id="login" formControlName="email" class="fadeIn second" name="login" placeholder="login">
        <input type="password" id="password" formControlName="password" placeholder="Password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" (click)="login()" class="fadeIn fourth" value="Log In">
      </form>
  
     
    </div>
  </div>